#main-content{
    width: 80vw;
    height: 50vh;
    border: 1% solid white;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 20vh;
    
}

#content-1,#content-2,#content-3,#content-4,#content-5,#content-6,#content-7,#content-8,#content-9,#content-10{
    width: 15vw;
    height: 21vh;
    border: 1px solid black;
}

#content_1_1{
    width: 15vw;
    height: 7vh;
    background-color: black;
}

#content_1_2{
    width: 15vw;
    height: 7vh;
    background-color: rgb(202, 14, 14);
}

#content_1_3{
    width: 15vw;
    height: 7vh;
    background-color: rgb(243, 243, 9);
}

#content_2_1{
    width: 15vw;
    height: 7vh;
    background-color: white;
}

#content_2_2{
    width: 15vw;
    height: 7vh;
    background-color: blue;
}

#content_2_3{
    width: 15vw;
    height: 7vh;
    background-color: red;
}

#content_3_1{
    width: 15vw;
    height: 7vh;
    background-color: orange;
}

#content_3_2{
    width: 15vw;
    height: 7vh;
    background-color: white;
}

#content_3_3{
    width: 15vw;
    height: 7vh;
    background-color: green;
}

#logo{
    margin: 5px;
    width: 25%;
    height: 70%;
    margin-left: 40%;
    border-radius: 50%;
}

#content_4_1{
    width: 15vw;
    height: 4vh;
    background-color: blue;
}

#content_4_2{
    width: 15vw;
    height: 1vh;
    background-color: white;
}

#content_4_3{
    width: 15vw;
    height: 11vh;
    background-color: red;
}

#content_4_4{
    width: 15vw;
    height: 1vh;
    background-color: white;
}

#content_4_5{
    width: 15vw;
    height: 4vh;
    background-color: blue;
}

#logo2{
    margin: 5px;
    width: 30%;
    height: 60%;
    border-radius: 50%;
    margin-left: 30px;
}

#content_5_1{
    width: 15vw;
    height: 9vh;
    background-color: rgb(164, 9, 9);
}

#content_5_2{
    width: 15vw;
    height: 3vh;
    background-color: white;
}

#content_5_3{
    width: 15vw;
    height: 9vh;
    background-color: rgb(166, 7, 7);
}

#content_6_1{
    width: 15vw;
    height: 7vh;
    background-color: rgb(219, 219, 19);
}

#content_6_2{
    width: 15vw;
    height: 7vh;
    background-color: rgb(9, 100, 9);
}

#content_6_3{
    width: 15vw;
    height: 7vh;
    background-color: rgb(148, 7, 7);
}

#content_7_1{
    width: 15vw;
    height: 11vh;
    background-color: blue;
}

#content_7_2{
    width: 15vw;
    height: 10vh;
    background-color: yellow;
}

#content-8{
    background-color: green;

}

#content_8_1{
    width: 30%;
    height: 50%;
    background-color: red;
    border-radius: 50%;
    margin-top: 15%;
    margin-left: 35%;
}

#content_9_1{
    width: 15vw;
    height: 5vh;
    background-color: red;
}

#content_9_2{
    width: 15vw;
    height: 2vh;
    background-color: white;
}

#content_9_3{
    width: 15vw;
    height: 7vh;
    background-color: blue;
}

#content_9_4{
    width: 15vw;
    height: 2vh;
    background-color: white;
}

#content_9_5{
    width: 15vw;
    height: 5vh;
    background-color: red;
}

#content_10_1{
    width: 30%;
    height: 50%;
    background-color: red;
    margin: auto;
    border-radius: 50%;
    margin-top: 15%;
}